.button {
    font-size: 1rem;
    font-weight: bold;

    aspect-ratio: 1;

    color: white;
    background-color: #bf5700;

    &:hover {
        // Increased rgb components by 10
        background-color: #c9610a;
    }
}
